{% extends "blog/base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card  border-success" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">About</h5>
                        <p class="card-text">This mini social media website is built as part of the project requirement for the Integrative Programming subject.</p>
                        <a href="#" class="card-link link-offset-2 link-underline link-underline-opacity-0"  style = "color: #184c34">Card link</a>
                        <a href="#" class="card-link link-offset-2 link-underline link-underline-opacity-0"  style = "color: #184c34">Another link</a>
                    </div>
                </div>
            </div>    
        </div>       
    </div>
{% endblock %}